<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home Page
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  {# Top DND area (for navbar or banners) #}
  {% dnd_area "top_dnd_area" label="Top Area" %}
    {% dnd_section %}
      {% dnd_column width=12 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text', label="Welcome Text" %}
            {% module_attribute "html" %}
             
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}

  {# Your React-based custom module #}
  {% module
    "Home"
    path="../components/modules/home.jsx",
    brandColors="{{ theme.brand_color }}"
  %}
  
   {% module
    "Home"
    path="../components/modules/learnuxfaster.jsx",
    brandColors="{{ theme.brand_color }}"
  %}

  {% module
    "Home"
    path="../components/modules/build.jsx",
    brandColors="{{ theme.brand_color }}"
  %}
{% module
    "Home"
    path="../components/modules/highlights.jsx",
    brandColors="{{ theme.brand_color }}"
  %}

  {% dnd_area "middle_dnd_area" label="Middle Area" %}
    {% dnd_section %}
      {% dnd_column width=12 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text', label="Form" %}
            {% module_attribute "html" %}
             
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}

    
  {% module
    "Home"
    path="../components/modules/footer.jsx",
    brandColors="{{ theme.brand_color }}"
  %}

{% endblock %}
